<!DOCTYPE html>
<html lang="en">

<head>
    <link rel='stylesheet' href="/css/styles.css">

    <title>About</title>
        <link rel="icon" href="/img/logo.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="dp" src='./img/img1.jpg'>

        <p>Created by {{name}}. This uses data from https://openweathermap.org/api </p>
    </div>


</body>

{{>footer}}

</html>